<li class="nav-item-header">
  <div class="text-uppercase fs-sm lh-sm opacity-50 sidebar-resize-hide">Relatórios</div>
  <i class="ph-dots-three sidebar-resize-show"></i>
</li>
<li class="nav-item nav-item-submenu">
  <a class="nav-link <%= "active" if "relatorios".include?(params[:controller] ) %>">
    <i class="ph-calculator"></i>
    <span>
      Correções Monetárias
    </span>
  </a>
  <ul class="nav-group-sub collapse">
    <li class="nav-item">
      <%= link_to t("activerecord.models.#{ICorrecaoMonetaria.model_name.i18n_key}.other"),  relatorios_correcoes_monetarias_path, class: "nav-link" %>
    </li>
  </ul>
</li>
<li class="nav-item-header">
  <div class="text-uppercase fs-sm lh-sm opacity-50 sidebar-resize-hide">Referencial</div>
  <i class="ph-dots-three sidebar-resize-show"></i>
</li>
<li class="nav-item nav-item-submenu">
  <% localizacao = [ 
    "g_localidades"
  ] %>
  <a class="nav-link <%= "active" if localizacao.include?(params[:controller] ) %>">
    <i class="ph-map-pin"></i>
    <span>
      Localização
    </span>
  </a>
  <ul class="nav-group-sub collapse">
    <li class="nav-item">
      <%= link_to t("activerecord.models.#{GLocalidade.model_name.i18n_key}.other"), g_localidades_path, class: "nav-link" %>
    </li>
  </ul>
</li>
<li class="nav-item-header">
  <div class="text-uppercase fs-sm lh-sm opacity-50 sidebar-resize-hide">Infraestrutura</div>
  <i class="ph-dots-three sidebar-resize-show"></i>
</li>
<li class="nav-item">
  <%= link_to i_predios_path, class: "nav-link #{" active" if params[:controller] == "i_predios" }" do %>
    <i class="ph-buildings"></i>
    <%=  t("activerecord.models.#{IPredio.model_name.i18n_key}.other") %>
  <% end %>
</li>
<li class="nav-item">
  <%= link_to i_correcoes_monetarias_path, class: "nav-link #{" active" if params[:controller] == "i_correcoes_monetarias" }" do %>
    <i class="ph-calculator"></i>
    <%=  t("activerecord.models.#{ICorrecaoMonetaria.model_name.i18n_key}.other") %>
  <% end %>
</li>
<li class="nav-item nav-item-submenu">
  <% predial = ["i_tipos_predios"] %>
  <a class="nav-link <%= " active" if predial.include?(params[:controller] ) %>">
    <i class="ph-bounding-box"></i>
    <span>
      Gestão Predial
    </span>
  </a>
  <ul class="nav-group-sub collapse">
    <li class="nav-item">
      <%= link_to t("activerecord.models.#{ITipoPredio.model_name.i18n_key}.other"), i_tipos_predios_path, class: "nav-link" %>
    </li>
  </ul>
</li>
