
<%= render "shared/context_nav", title: t("activerecord.models.#{RLotacaoOrganizacional.model_name.i18n_key}.other") do  %>
  <span class="breadcrumb-item"><%= link_to t("activerecord.models.#{RLotacaoOrganizacional.model_name.i18n_key}.other"), r_lotacoes_organizacionais_path, class: "text-dark" %></span>
  <span class="breadcrumb-item active"><%= t("helpers.submit.#{params[:action]}") %></span>
<% end %>

<%= simple_form_for(@r_lotacao_organizacional) do |f| %>
  <div class="card">
    <div class="card-header">
      <h5 class="my-0">
        <%= @r_lotacao_organizacional.new_record? ? "Incluir " : "Editar " %><%= t("activerecord.models.#{RLotacaoOrganizacional.model_name.i18n_key}.one") %>
      </h5>
    </div>    
    <div class="card-body">
      <%= f.error_notification %>
      <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>    
      <%= render "shared/notice" %>  
      <div class="row">
        
          
            <div class="col-12">
              <%= f.association :r_contrato_servidor, input_html: { class: "keyup select2"}  %>
            </div>
          
          
            <div class="col-12">
              <%= f.input :r_estrutura_organizacional, input_html: { class: "keyup "}  %>
            </div>
          
      </div>
    </div>
    <div class="card-footer">
    <%= f.button :submit, class: "btn btn-primary" %>
    <%= link_to "Voltar", r_lotacoes_organizacionais_path, class: "btn btn-light" %>
    </div>
  </div>
<% end %>



