<div class="container">
  <%= render "shared/notice" %>
  <div class="card border-0 shadow shadow-sm">
    <div class="card-header border-0 d-flex justify-content-between">
      <span class="fs-4">Visualizar G Pessoa</span>
    </div>
    <div class="card-body">
      <div id="<%= dom_id @g_pessoa %>">
              
          <p>
            <strong>Nome:</strong>
            <%= @g_pessoa.nome %>
          </p>
              
          <p>
            <strong>Cpf:</strong>
            <%= @g_pessoa.cpf %>
          </p>
     
      </div>
    </div>
    <div class="card-footer border-0 d-flex justify-content-between">
      <div>
        <%= link_to edit_g_pessoa_path(@g_pessoa), class: "btn btn-primary" do %>
          <i class="bi bi-pencil-square"></i> Editar
        <% end %>
        <%= link_to "Voltar", g_pessoas_path, class: "btn btn-secondary" %>
      </div>
      <%= button_to "Deletar", @g_pessoa, method: :delete, class: "btn btn-outline-danger border-0" %>
    </div>
  </div>
</div>
