<%# frozen_string_literal: true %>
<%%= render "shared/context_nav", title: t("activerecord.models.#{<%= class_name %>.model_name.i18n_key}.other") do  %>
  <span class="breadcrumb-item"><%%= link_to t("activerecord.models.#{<%= class_name %>.model_name.i18n_key}.other"), <%= plural_table_name %>_path, class: "text-dark" %></span>
  <span class="breadcrumb-item active"><%%= t("helpers.submit.#{params[:action]}") %></span>
<%% end %>

<%%= simple_form_for(@<%= singular_table_name %>) do |f| %>
  <div class="card">
    <div class="card-header">
      <h5 class="my-0">
        <%%= @<%= singular_table_name %>.new_record? ? "Incluir " : "Editar " %><%%= t("activerecord.models.#{<%= class_name %>.model_name.i18n_key}.one") %>
      </h5>
    </div>    
    <div class="card-body">
      <%%= f.error_notification %>
      <%%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>    
      <%%= render "shared/notice" %>  
      <div class="row">
        <% attributes_to_ignore = ['deleted_at', 'original_user_create', 'last_user_update', 'created_by', 'updated_by'] %>
        <%- attributes.each do |attribute| -%>
          <% unless attributes_to_ignore.include?(attribute.name) %>
            <div class="col-12">
              <%%= f.<%= attribute.reference? ? :association : :input %> :<%= attribute.name %>, input_html: { class: "keyup <%= "select2" if attribute.reference? %>"}  %>
            </div>
          <% end %>
        <%- end -%>
      </div>
    </div>
    <div class="card-footer">
    <%%= f.button :submit, class: "btn btn-primary" %>
    <%%= link_to "Voltar", <%= plural_table_name %>_path, class: "btn btn-light" %>
    </div>
  </div>
<%% end %>



