<div class="container">
  <%%= render "shared/notice" %>
  <div class="card border-0 shadow shadow-sm">
    <div class="card-header border-0 d-flex justify-content-between">
      <span class="fs-4">Visualizar <%= singular_table_name.titleize %></span>
    </div>
    <div class="card-body">
      <div id="<%%= dom_id @<%= singular_table_name %> %>">
        <%- attributes.each do |attribute| -%>              
          <p>
            <strong><%= attribute.name.titleize %>:</strong>
            <%%= @<%= singular_table_name %>.<%= attribute.name %> %>
          </p>
        <%- end -%>     
      </div>
    </div>
    <div class="card-footer border-0 d-flex justify-content-between">
      <div>
        <%%= link_to edit_<%= singular_table_name %>_path(@<%= singular_table_name %>), class: "btn btn-primary" do %>
          <i class="bi bi-pencil-square"></i> Editar
        <%% end %>
        <%%= link_to "Voltar", <%= plural_table_name %>_path, class: "btn btn-secondary" %>
      </div>
      <%%= button_to "Deletar", @<%= singular_table_name %>, method: :delete, class: "btn btn-outline-danger border-0" %>
    </div>
  </div>
</div>
