<!DOCTYPE html >
<html lang="pt">
  <head>
    <title>Oracle</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <!-- <link rel="icon" href="/assets/img/brasao.png">  -->
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%# Dependências CSS %>
    <%# App CSS do projeto %>
    <%= stylesheet_link_tag "/layout/assets/fonts/inter/inter.css",                 "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "/layout/assets/icons/phosphor/styles.min.css",         "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "/layout/assets/css/all.min.css",                       "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "/layout/assets/css/animate.min.css",                   "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "/layout/assets/js/handsontable/handsontable.min.css",  "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "/layout/assets/js/handsontable/ht-theme-main.min.css", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application",                                          "data-turbo-track": "reload" %>
    <%# Dependências JS %>
    <%# App JS do projeto %>
    <%= javascript_include_tag "/layout/assets/js/jquery/jquery.min.js",                                     "data-turbo-track": "reload" %>
    <%= javascript_include_tag "/layout/assets/js/jquery/jquery.mask.min.js",                                "data-turbo-track": "reload" %>
    <%= javascript_include_tag "/layout/assets/js/jquery/jquery.maskMoney.min.js",                           "data-turbo-track": "reload" %>
    <%= javascript_include_tag "/layout/assets/js/bootstrap/bootstrap.bundle.min.js",                        "data-turbo-track": "reload" %>
    <%= javascript_include_tag "/layout/assets/js/vendor/notifications/sweet_alert.min.js",                  "data-turbo-track": "reload" %>
    <%= javascript_include_tag "/layout/assets/js/vendor/forms/selects/select2.min.js",                      "data-turbo-track": "reload" %>
    <%= javascript_include_tag "/layout/assets/js/vendor/forms/wizards/steps.min.js",                        "data-turbo-track": "reload" %>
    <%= javascript_include_tag "/layout/assets/js/vendor/tables/datatables/datatables.min.js",               "data-turbo-track": "reload" %>
    <%= javascript_include_tag "/layout/assets/js/vendor/tables/datatables/extensions/responsive.min.js",    "data-turbo-track": "reload" %>
    <%= javascript_include_tag "/layout/assets/js/vendor/pickers/datepicker.min.js",                         "data-turbo-track": "reload" %>
    <%= javascript_include_tag "/layout/assets/js/vendor/pickers/daterangepicker.js",                        "data-turbo-track": "reload" %>
    <%= javascript_include_tag "/layout/assets/js/app.js",                                                   "data-turbo-track": "reload" %>
    <%= javascript_include_tag "/layout/assets/js/custom.js",                                                "data-turbo-track": "reload" %>
    <%= javascript_include_tag "/layout/assets/js/vendor/notifications/noty.min.js",                         "data-turbo-track": "reload" %>
    <%= javascript_include_tag "/layout/assets/js/vendor/pickers/litepicker.js",                             "data-turbo-track": "reload" %>
    <%= javascript_include_tag "/layout/assets/js/vendor/forms/selects/bootstrap_multiselect.js",            "data-turbo-track": "reload" %>
    <%= javascript_include_tag "/layout/assets/js/vendor/tables/datatables/extensions/fixed_columns.min.js", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "/layout/assets/js/vendor/visualization/echarts/echarts.min.js",              "data-turbo-track": "reload" %>
    <%= javascript_include_tag "/layout/assets/js/vendor/forms/inputs/dual_listbox.min.js",                  "data-turbo-track": "reload" %>
    <%= javascript_include_tag "/layout/assets/js/handsontable/handsontable.full.min.js",                    "data-turbo-track": "reload" %>
  </head>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-BN37V4PQXK"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-BN37V4PQXK');
  </script>
  <body class="">
    <%= render "shared/notification"%>
    <!-- Main navbar -->
    <%= render "shared/navbar" %>
    <!-- /main navbar -->
    <!-- Page content -->
    <div class="page-content">
      <!-- Main sidebar -->
      <%= render "shared/sidebar/sidebar" %>
      <!-- /main sidebar -->
      <div class="content-wrapper">
        <div class="content-inner">
          <%= yield :context_nav %>
          <div class="content">
            <%= yield %>
          </div>
          <script>
            window.chatwootSettings = {
              "position": "right",
              "type": "expanded_bubble",
              "launcherTitle": "Suporte"
            };
            (function(d, t) {
              var BASE_URL = "https://webchat.seduc.ro.gov.br";
              var g = d.createElement(t),
                s = d.getElementsByTagName(t)[0];
              g.src = BASE_URL + "/packs/js/sdk.js";
              g.defer = true;
              g.async = true;
              s.parentNode.insertBefore(g, s);
              g.onload = function() {
                window.chatwootSDK.run({
                  websiteToken: '6o7KRu6nxcB6PdV7Y1mf2TeR',
                  baseUrl: BASE_URL
                });
              };
            })(document, "script");
          </script>
        </div>
        <%= render "shared/footer" %>
      </div>
      <%= render "shared/chatwoot" %>
    </div>
    <!-- /page content -->
  </body>
  <style>
    .woot-widget-bubble.woot-widget--expanded {
      bottom: 5px !important;
      right: 15px !important;
      /* right: 120px !important; */
      display: flex;
      height: 48px !important;
      width: auto !important;
      align-items: center;
    }
  </style>
</html>
